<form #auth="ngForm"
      class="register"
      (ngSubmit)="onSubmit(auth.value, auth.valid)"
      novalidate>
  <h2>Login</h2>
  <div>
    <label for="login">login:</label>
    <input name="login"
           type="text"
           [ngModel]="user.login"
           required />
  </div>
  <div>
    <label for="password">password:</label>
    <input name="password"
           type="password"
           [ngModel]="user.password"
           required />
  </div>
  <button type="submit"
          [disabled]="auth.invalid">Sign in</button>
</form>