.form {
  &__group {
    & + & {
      margin-top: 10px;
    }
  }
  &__input {
    display: block;
    height: $input-height;
    border: $input-border;
    border-radius: $input-radius;
    font-size: $input-font-size;
    padding: 0 $input-padding-horizontal;
    outline: none;
    &[disabled],
    &.disabled {
      background: $input-disabled-background;
      color: $input-disabled-color;
    }
  }

  &__label {
    margin-bottom: 5px;
    display: block;
    font-size: $input-label-font-size;
    color: $input-label-color;
  }
}
